tqdm == 4.65.2
rich == 13.4.2
ninja == 1.10.2.3
numpy == 1.22.4
pandas == 1.4.2
scipy == 1.11.4
scikit-learn == 1.0.2
matplotlib == 3.8.0
opencv-python == 4.8.0.76
imageio == 2.21.1
imageio-ffmpeg == 0.4.8
omegaconf == 2.3.0

torch == 2.1.0+cu121
einops == 0.4.1
plyfile == 0.7.4
pygltflib == 1.16.0

# for gui
dearpygui == 1.10.1

# for stable-diffusion
huggingface_hub == 0.19.4
diffusers == 0.24.0
accelerate == 0.24.1
transformers == 4.36.2

# for dmtet and mesh export
xatlas == 0.0.6
trimesh == 4.0.5
PyMCubes == 0.1.2
pymeshlab == 2023.12

rembg[gpu,cli] == 2.0.49

# gradio demo
gradio == 4.8.0
